extends layout

block content
  .header
    .home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
      ul
        li.pure-menu-selected
          a(href='/')= t('ns.common:menu.home')
        li
          a(href='/what')= t('ns.common:menu.what_is_this')
        li
          a(href='/who')= t('ns.common:menu.who_did_this')
        li
          a(href='/touch')= t('ns.common:menu.get_in_touch')
        //li a(href='?setLng=en') English
        //li a(href='?setLng=pt-BR') Português
  .splash-container
    .splash.step-1
      p.splash-subhead= t('ns.common:app.call_to_action')
      div.splash-head
        form#send-form.pure-form.splash-form-align
          .splash-align
            label.inline-label= t('ns.common:app.phrase')
            label.inline-label.input
              p#send-answer.input-inner-editor(contenteditable)

          .pure-g.splash-align
            button.button-large.pure-button-primary.pure-button.inline-button(type='submit')= t('ns.common:app.send_button')

  .splash.step-2
      p.splash-subhead= t('ns.common:app.done', {})
      div.splash-head
        | Heee

  .content-wrapper
    .content.ribbon
      .pure-g.l-box-lrg
        .pure-u-1.pure-u-md-1-2.pure-u-lg-3-5
          p= t('ns.common:app.what_is_this')

    .l-box.is-center
      p= t('ns.common:app.people_already_anwser', { total: answersNumber })
